{% extends 'base.html' %}

{% block title %}{{ author.name }} - Профиль автора{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="card-title d-flex align-items-center gap-3">
                <a href="{% url 'author_list' %}" class="btn btn-primary" title="Назад"><i
                        class="fas fa-arrow-left"></i></a>

                <h1>{{ author.name }}</h1>
                {% if author.profile_author %}
                    <a href="{% url 'edit_author' author.id %}" class="btn btn-secondary" title="Редактировать">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                {% endif %}
            </div>
            <p class="card-text"><strong>Биография:</strong> {{ author.bio }}</p>
            <p class="card-text"><strong>Словарный запас:</strong> {{ author.phrases }}</p>
            <p class="card-text"><strong>Тематика:</strong> {{ author.theme }}</p>
            <p class="card-text"><strong>Тональность:</strong> {{ author.tone }}</p>
        </div>

        <a href="{% url 'select_author' author.id %}" class="btn btn-success" title="Сгенерировать с ИИ">
            <i class="fas fa-robot"></i> Генерировать в стиле "{{ author.name }}"
        </a>
    </div>
{% endblock %}