{% extends 'base.html' %}

{% block content %}
    <h1 class="mb-4">Выберите или создайте автора</h1>
    <div class="mb-5">
        <h2 class="mb-4">Пользовательские профили</h2>
        <div class="mb-4">
            <a href="{% url 'create_author' %}" class="btn btn-outline-success">Создать новый профиль</a>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for user_profile in user_profiles %}
                {% with user_profile.author as profile %}
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="card-title d-flex align-items-center gap-2">
                                    <h5>{{ profile.name }}</h5>
                                    <a href="{% url 'edit_author' profile.id %}" class="btn btn-sm btn-secondary"
                                       title="Редактировать">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                </div>

                                <p class="card-text"><strong>Тематика:</strong> {{ profile.niche }}</p>
                                <p class="card-text"><strong>Тональность:</strong> {{ profile.tone }}</p>
                            </div>
                            <div class="card-footer">
                                <a href="{% url 'author_detail' profile.id %}" class="btn btn-primary">Подробнее</a>
                            </div>
                            <a href="{% url 'select_author' profile.id %}" class="btn btn-success"
                               title="Сгенерировать с ИИ">
                                <i class="fas fa-robot"></i> Генерировать в стиле "{{ profile.name }}"
                            </a>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
    </div>
    <h2>Профили известных личностей</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for celebrity in celebrities %}
            {% with celebrity.author as profile %}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ profile.name }}</h5>
                            <p class="card-text"><strong>Тематика:</strong> {{ profile.theme }}</p>
                            <p class="card-text"><strong>Тональность:</strong> {{ profile.tone }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'author_detail' profile.id %}" class="btn btn-primary">Подробнее</a>
                        </div>
                        <a href="{% url 'select_author' profile.id %}" class="btn btn-success"
                           title="Сгенерировать с ИИ">
                            <i class="fas fa-robot"></i> Генерировать в стиле "{{ profile.name }}"
                        </a>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}