{% extends 'base.html' %}
{% load blog_tags %}

{% block title %}{{ blog.topic }}{% endblock %}

{% block content %}
    <div class="d-flex align-items-center gap-3 mb-2">
        <a href="{% url 'blog_list' %}" class="btn btn-primary" title="Назад"><i class="fas fa-arrow-left"></i></a>


        <h1>{{ blog.topic }}</h1>
        <button id="copyButton" class="btn btn-sm btn-outline-secondary" title="Копировать содержимое">
            <i class="bi bi-clipboard"></i>
        </button>
        <a href="{% url 'edit_blog' blog.slug %}" class="btn btn-sm btn-secondary" title="Редактировать">
            <i class="fas fa-pencil-alt"></i>
        </a>
    </div>


    <p class="text-muted">
        Тема: {{ blog.niche }}
        Опубликовано {{ blog.created_at|date:"F d, Y" }}
        Написано в стиле "{{ blog.author.name }}"
    </p>

    <p><strong>Ключевые слова:</strong> {{ blog.keywords }}</p>



    <div id="blogContent" class="mb-4">
        {{ blog.content|markdown }}
    </div>


{% endblock %}

{% block include_js %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const copyButton = document.getElementById('copyButton');
    const blogContent = document.getElementById('blogContent');

    copyButton.addEventListener('click', function() {
        // Создаем временный элемент textarea
        const tempTextArea = document.createElement('textarea');
        tempTextArea.value = blogContent.innerText;
        document.body.appendChild(tempTextArea);

        // Выбираем текст
        tempTextArea.select();
        tempTextArea.setSelectionRange(0, 99999); // Для мобильных устройств

        // Копируем текст
        document.execCommand('copy');

        // Удаляем временный элемент
        document.body.removeChild(tempTextArea);

        // Изменяем иконку и текст кнопки для обратной связи
        copyButton.innerHTML = '<i class="bi bi-check"></i> Скопировано';
        copyButton.classList.add('btn-success');
        copyButton.classList.remove('btn-outline-secondary');

        // Возвращаем исходный вид кнопки через 2 секунды
        setTimeout(() => {
            copyButton.innerHTML = '<i class="bi bi-clipboard"></i>';
            copyButton.classList.remove('btn-success');
            copyButton.classList.add('btn-outline-secondary');
        }, 2000);
    });
});
</script>
{% endblock %}